@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background font-sans text-foreground antialiased;
		font-family: Arial, Helvetica, sans-serif;
	}
}

:root {
	/* MijnUI Theme Tailwind Plugin Customizations Are Not Being Applied Correctly */
	/* To Workaround this we override the default `mijn-ui` theme colors from here */
	--mijnui-primary: 217.2 91.2% 59.8%;
	--mijnui-default: 214.3 31.8% 91.4%;
	--mijnui-secondary: 0 0% 0%;
	--mijnui-secondary-foreground: 0 0% 100%;
	--mijnui-border: 0 0% 84%;
	--mijnui-input: 0 0% 84%;

	--mijnui-sidebar-background: 220 14% 96%;
	--mijnui-sidebar-foreground: 0 0% 25%;
	--mijnui-sidebar-primary: 29 100% 52%;
	--mijnui-sidebar-primary-foreground: 0 0% 100%;
	--mijnui-sidebar-accent: 0 0% 90%;
	--mijnui-sidebar-accent-foreground: 0 0% 0%;
	--mijnui-sidebar-border: 0 0% 85%;
	--mijnui-sidebar-ring: 0 0% 100%;

	--chart-1: 221.2 83.2% 53.3%;
	--chart-2: 212 95% 68%;
	--chart-3: 216 92% 60%;
	--chart-4: 210 98% 78%;
	--chart-5: 212 97% 87%;
}

.dark {
	--mijnui-background: 0 0% 4%;
	--mijnui-primary: 217.2 91.2% 59.8%;
	--mijnui-default: 240 3.7% 15.9%;
	--mijnui-secondary: 0 0% 100%;
	--mijnui-secondary-foreground: 0 0% 0%;
	--mijnui-border: 0 0% 15%;
	--mijnui-input: 0 0% 15%;

	--mijnui-sidebar-background: 0 0% 4%;
	--mijnui-sidebar-foreground: 0 0% 63.9%;
	--mijnui-sidebar-primary: 29 100% 52%;
	--mijnui-sidebar-primary-foreground: 0 0% 100%;
	--mijnui-sidebar-accent: 0 0% 12%;
	--mijnui-sidebar-accent-foreground: 0 0% 96%;
	--mijnui-sidebar-border: 0 0% 15%;
	--mijnui-sidebar-ring: 0 0% 0%;

	--chart-1: 221.2 83.2% 53.3%;
	--chart-2: 212 95% 68%;
	--chart-3: 216 92% 60%;
	--chart-4: 210 98% 78%;
	--chart-5: 212 97% 87%;
}

.custom_scroll_bar {
	overflow-x: auto;
	overflow-y: auto;
}

.custom_scroll_bar::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

@media (max-width: 768px) {
	.custom_scroll_bar::-webkit-scrollbar {
		height: 0.3rem;
		width: 0.3rem;
	}
}

.custom_scroll_bar::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	@apply bg-muted;
}

.custom_scroll_bar.custom_scroll_bar_light::-webkit-scrollbar-thumb {
	@apply bg-neutral-300 dark:bg-neutral-500;
}

.custom_scroll_bar::-webkit-scrollbar-track {
	border-radius: 9999px;
	@apply bg-transparent;
	margin: 0.5rem 0.5rem;
}

.custom_scroll_bar::-webkit-scrollbar-corner {
	@apply bg-transparent;
}
